a {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid white;
}

body {
    text-align: center;
    margin: 0;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #0D2C40;
	letter-spacing: 1px;
	text-transform: uppercase;
}

img {
	margin: 40px 8px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

.name {
	color: #f15b31;
	font-weight: 700;
}

nav {
	background-color: #00a6b3;
	padding: 20px 0;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

.copyright, .message {
	font-family: "Raleway", sans-serif;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

#Why {
	display: block;
	margin: 35px 0 0;
}

